extends base.pug

block content
    h4 Change title
    form(method="POST")
        input(name="title", value=video.title,required,type="text",maxLength=80)
        input(name="description",value=video.description ,required,type="text",minLength=5)
        input(name="hashtags",value =video.hashtags.join(),required,type="text")
        input(value="save",type="submit")