extends base.pug

block content 
    form(method="POST")
        
        input(name="title",placeholder="Title",required,type="text",maxLength=80)
        input(name="description",placeholder="Description",required,type="text",minLength=5)
        input(name="hashtags",placeholder="Hashtag, seperated by comma",required,type="text")
        input(value="Upload",type="submit")
        span=errorMessage